@import "../../../styles/variables.scss";

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $dark;
  border-radius: 8px;
  background-color: $secondary;

  &:hover {
    cursor: pointer;
  }
}
